.LineData_G {
  background-color: #4CAF50;
  border: none;
  padding: 20px 6px;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  float: left;
}
.LineData_Y {
  background-color: yellow; 
  border: none;
  padding: 20px 6px;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  float: left;
 }
 .LineData_R {
  background-color: red; 
  border: none;
  padding: 20px 6px;
  display: inline-block;
  cursor: pointer;
  margin: 2px;
  float: left;
 }

 .LineData_G:hover {
  opacity: 0.6;
  padding: 22px 6px;
 }
 .LineData_Y:hover {
  opacity: 0.6;
  padding: 22px 6px;
 }
 .LineData_R:hover {
  opacity: 0.6;
  padding: 22px 6px;
 }