.cardTitle {
    text-align: left;
    font-family: arial;
  }

.CardContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: left;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: #D2DEE7;
}

.GatewayCard {
    align-items: center;
    width: 1000px;
    border-radius: 0;
    margin: 0 2px;
    background-color: #D2DEE7;
}

.GatewayCardBody {
   display: flex;
   background-color: #D2DEE7;
   width: 1000px;
   height: 85px;
}

.GatewayCardHeader {

  padding: 5px;
  align-self: end;
}

.Uptime {
 color: green;
}

.Downtime {
  font-size:48px;
  color:red;
}

.PartialDegradation {
  color: yellow;
}

i {
  padding: 5px;
}

span {
  margin-right: 10px;
}


.dropdown {
  float: left;
  align-self: end;
  overflow: hidden;
  background-color: #103426;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 8px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown:hover .dropbtn {
  background-color: #00D2B9;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdownContent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdownContent a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
