.cardTitle {
    text-align: left;
    font-family: arial;
  }

.CardContainer {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    float: left;
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background-color: #D2DEE7;
}

.GatewayCard {
    align-items: center;
    width: 1000px;
    border-radius: 0;
    margin: 0 2px;
    background-color: #D2DEE7;
}

.GatewayCardBody {
   display: flex;
   background-color: #D2DEE7;
   width: 1000px;
}

.GatewayCardHeader {

  padding: 5px;
  float: right;
  text-align: right;
  justify-content: flex-end;
}

.Uptime {
 color: green;
}

.Downtime {
  font-size:48px;
  color:red;
}

.PartialDegradation {
  color: yellow;
}

i {
  padding: 5px;
}

span {
  margin-right: 10px;
}
