.CardContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  float: left;
  margin: 10px 0px 10px 0px;
  background-color: #d2dee7;
}

.GatewayCard {
  align-items: center;
  width: 1300px;
  border-radius: 0;
  background-color: #d2dee7;
}

.GatewayCardBody {
  display: flex;
  background-color: #d2dee7;
  width: 1300px;
  height: 95px;
}

.GatewayCardHeader {
  display: flex;
  width: 1300px;
  border-radius: 0;
}

.GatewayCardText {
  color: black;
}

.CardChild {
  width: 50%;
  float: left;
}

.Uptime {
  color: green;
  font-size: 30px;
}

.Downtime {
  font-size: 30px;
  color: red;
}

.PartialDegradation {
  font-size: 30px;
  color: #ffea00;
}

span {
  margin-left: 10px;
  margin-right: 10px;
}

.Dropdown {
  display: flex;
  position: absolute;
}